.register {
  /* margin: 0;
  padding: 50px;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/background1-medium.jpg) no-repeat center
    center/cover; */
  width: 100%;
  height: 100%;
}

.register_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: teal;
  border: transparent;
  border-radius: 15px;
  opacity: 0.9;
}
