.register {
  /* margin: 0;
  padding: 50px;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/background1-medium.jpg) no-repeat center
    center/cover; */
  width: 100%;
  height: 100%;
}

.register_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: teal;
  opacity: 0.9;
  border: transparent;
  border-radius: 15px;
  color: white;
}

.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100%; */
  height: 40%;
}

@media screen and (max-width: 500px) {
  .register_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: teal;
    opacity: 1;
    border: transparent;
    border-radius: 15px;
    color: white;
    margin: auto;
  }

  .register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 100%; */
    height: 80%;
  }
}
