.lessonPage {
  margin: 0;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  padding: 60px;
  background-color: rgb(196, 127, 196);
  /* background: url(../../assets/images/background1-medium.jpg) no-repeat center
          center/cover; */
}
