.entry {
  margin: 0;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/background1-medium.jpg) no-repeat center
    center/cover;
  animation: 1s entry;
}

.entry_container {
  width: 60%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #297743;
  margin: auto;
  /* padding-top: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 15px;
  animation: 1s entry_container;
}

/* @keyframes entry_container {
  from {
    height: 50%;
    width: 70%;
  }

  to {
    height: 85%;
    width: 60%;
  }
} */

/* @keyframes entry {
  from {
    padding-top: 300px;
  }

  to {
    padding-top: 150px;
  }
} */

.entry_welcome {
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
}

.entry_auth {
  width: 200%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* overflow: hidden; */
  transform: translateX(0);
  animation: 2s change;
}

.entry_auth_change {
  width: 200%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateX(-25%);
  animation: change2 2s;
}

.entry_auth_change2 {
  width: 200%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateX(0);
  animation: change3 2s;
}
@keyframes change {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes change2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-25%);
  }
}

@keyframes change3 {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0);
  }
}

.entry_auth_Or {
  width: 100%;
  height: 100%;
}
.entry_authVoid {
  width: 100%;
  height: 100%;
}

.entry_overLay {
  background: url(../../assets/images/8c198b4daf10ee93a868183f9051dc47.gif)
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  border: transparent;
  border-radius: 15px;
  overflow: hidden;
}
