.entry {
  margin: 0;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/background1-medium.jpg) no-repeat center
    center/cover;
}

.entry_container {
  width: 60%;
  height: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 15px;
}

.entry_welcome {
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
}

.entry_auth {
  width: 200%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateX(0);
  animation: 2s change;
}

.entry_auth_change {
  width: 200%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateX(-25%);
  animation: change2 2s;
}

.entry_auth_change2 {
  width: 200%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: translateX(0);
  animation: change3 2s;
}
@keyframes change {
  from {
    transform: translateX(-25%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes change2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-25%);
  }
}

@keyframes change3 {
  from {
    transform: translateX(25%);
  }

  to {
    transform: translateX(0);
  }
}

.entry_auth_Or {
  width: 100%;
  height: 100%;
  color: #041e42;
  /* color: white; */
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.entry_authVoid {
  width: 100%;
  height: 100%;
}

.entry_overLay {
  background: url(../../assets/images/8c198b4daf10ee93a868183f9051dc47.gif)
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 15px;
  overflow: hidden;
  /* opacity: 0.9; */
}

hr {
  width: 9vw;
}

.entry_change_button {
  background-color: white;
  opacity: 0.8;
  padding: 2vh 1vw;
  margin-top: 15px;
  box-sizing: border-box;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: transparent;
  border-radius: 20px;
  color: #041e42;
  font-weight: bold;
  cursor: pointer;
}

button {
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
  /* .entry_container {
    width: 90%;
    height: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    border-radius: 15px;
  } */
  .entry_auth {
    width: 100%;
    height: 200%;
    border: transparent;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    transform: translateY(0);
    animation: change2 2s;
  }

  .entry_auth_change {
    width: 100%;
    height: 200%;
    border: transparent;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    transform: translateY(-25%);
    animation: change2 2s;
  }

  .entry_auth_change2 {
    width: 100%;
    height: 200%;
    border: transparent;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    transform: translateY(0);
    animation: change3 2s;
  }

  @keyframes change {
    from {
      transform: translateY(-25%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes change2 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-25%);
    }
  }

  @keyframes change3 {
    from {
      transform: translateY(25%);
    }

    to {
      transform: translateY(0);
    }
  }

  .entry_container {
    width: 60%;
    height: 85%;
    align-items: center;
    /* background-color: #297743; */
    margin: auto;
    /* padding-top: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    border-radius: 15px;
  }
  .entry_auth_Or {
    width: 100%;
    height: 100%;
    color: #041e42;
    /* color: white; */
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  hr {
    width: 15vw;
  }

  .entry_change_button {
    background-color: white;
    opacity: 0.8;
    padding: 2vh 10vw;
    margin-top: 15px;
    box-sizing: border-box;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: transparent;
    border-radius: 20px;
    color: #041e42;
    font-weight: bold;
    cursor: pointer;
  }
}
