.nav_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* justify-content: center; */
  width: 80%;
  border: transparent;
  margin-top: 15px;
  height: 5vh;
  font-size: 1.6vw;
  text-align: center;
}

.nav_navLog {
  opacity: 0.7;
  background-color: white;
  width: 20vw;
  border: transparent;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  font-size: 2vw;
  text-align: center;
}

.nav_div_ul {
  width: 90%;
  padding-bottom: 15px;
}
.nav_ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav_ul a {
  color: #041e42;
  text-decoration: none;
}

.activeStyle {
  color: black;
  /* // textDecoration: "underline", */
  /* // backgroundColor: "#EAEAEA", */
  /* // border: "transparent", */
  /* // borderRadius: "5px", */
  /* // gap: "1px", */
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  background-color: transparent;
  animation: exit 200ms ease-in-out;
}

@keyframes exit {
  from {
    background-color: white;
    opacity: 0.8;
  }
  to {
    background-color: transparent;
    opacity: 1;
  }
}

.nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: white;
  animation: 200ms enter ease-in-out;
}

@keyframes enter {
  from {
    background-color: transparent;
    opacity: 1;
  }

  to {
    background-color: white;
    opacity: 0.8;
  }
}

ul {
  box-sizing: border-box;
  /* display: flex; */
  /* margin-block-end: 0    ; */
}

@media screen and (max-width: 500px) {
  .nav_navLog {
    opacity: 0.7;
    background-color: white;
    width: 50vw;
    border: transparent;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    font-size: 5vw;
    text-align: center;
  }
}
