nav {
  /* background-color: red; */
  background-color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

ul {
  box-sizing: border-box;
  /* display: flex; */
  /* margin-block-end: 0    ; */
}
