.welcome {
  /* margin: 0;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/background1-medium.jpg) no-repeat center
    center/cover; */
  width: 100%;
  height: 100%;
}
/* 
.welcome_voidLayer {
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
} */

.welcome_container {
  /* padding-top: 400px; */
  height: 100%;
  width: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #a6c7de; */
  /* background: url(../../assets/images/aaron-burden-334262-unsplash.webp) */
  /* no-repeat center center/cover; */
  /* background: url(../../assets/images/8c198b4daf10ee93a868183f9051dc47.gif)
    no-repeat center center/cover; */
}

.welcome_content {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #041e42;
  background-color: teal;
  opacity: 0.9;
  border: transparent;
  border-radius: 15px;
}

.welcome_img {
  width: 60%;
  /* box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2); */
}

.welcome_img img {
  border: transparent;
  border-radius: 15px;
}

@media screen and (max-width: 800px) {
  .welcome_container {
    width: 100%;
    height: 60%;
    /* padding-top: 50px; */
    margin: 90px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome_content {
    opacity: 1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: #041e42;
  }

  .welcome_img img {
    display: none;
  }
}
